<!--  Main configuration file  -->
<hibernate-configuration>
    <session-factory>
        <!--  PostgreSQL JDBC driver class  -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--  JDBC URL for PostgreSQL  -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/teluskoHibernate</property>
        <!--  Username to connect to PostgreSQL  -->
        <property name="hibernate.connection.username">jodos</property>
        <!--  Password to connect to PostgreSQL  -->
        <property name="hibernate.connection.password">jodos2006</property>
        <!--  Dialect required between Hibernate and PostgreSQL  -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!--  Show SQL statements in console  -->
        <property name="show_sql">true</property>
        <!--  Format SQL statements for better readability  -->
        <property name="format_sql">true</property>
        <!--  Automatically update the database schema  -->
        <property name="hbm2ddl.auto">update</property>
        <!--  Mapping file for your entity  -->
        <!--        <mapping resource="geekuser.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>